<template name="DisplaysIndex">
  {{#Scrollview}}
    {{#Surface size="[undefined,true]" style="padding-top: 20px; padding-bottom: 20px"}}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb">
              <li><a href="{{pathFor 'scenarios.index'}}"><span class="glyphicon glyphicon-th-list"></span> Scenarios</a></li>
              <li><span class="glyphicon glyphicon-th"></span> Displays</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><span class="glyphicon glyphicon-th"></span> Displays</strong>
              </div>

              <table class="table">
                <thead>
                <tr>
                  <th>Display</th>
                  <th>Scenario</th>
                </tr>
                </thead>
                <tbody>
                {{#each displays}}
                  <tr>
                    {{> DisplaysEdit}}
                    <td>
                      {{#if scenarioTitle}}
                        <a href="{{pathFor 'scenarios.show' _id=scenarioId}}">{{scenarioTitle}}</a>
                      {{else}}
                        none
                      {{/if}}
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td>No displays created yet.</td>
                  </tr>
                {{/each}}
                <tr>
                  <td>
                    <form class="display-new-title">
                      <div class="input-group col-xs-12">
                        <input type="text" name="display_new_title" class="form-control" placeholder="Enter title to create a new display"/>
                      </div>
                    </form>
                  </td>
                  <td></td>
                </tr>
                </tbody>
              </table>

              <div class="panel-footer">Number of displays 4 out of 5.</div>
            </div>

          </div>
        </div>
      </div>
    {{/Surface}}
  {{/Scrollview}}
</template>
