<template name="ScenariosNew">
    {{#Surface size="[undefined,260]" style="padding-top: 20px; padding-bottom: 20px"}}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb">
              <li><a href="{{pathFor 'scenarios.index'}}"><span class="glyphicon glyphicon-th-list"></span> Scenarios</a></li>
              <li><a href="{{pathFor 'displays.index'}}"><span class="glyphicon glyphicon-th"></span> Displays</a></li>
            </ol>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <form>
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-th-list"></span> Add scenario</h4>
              </div>
              <div class="modal-body">
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control" name="title" placeholder="Title"/>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" name="new_scenario">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/Surface}}
</template>
